html, body, .container-fluid, .h100 {
	height: 100%;
}

.col-leftbar {
	height: 100%;
	background-color: #99a3b5;
	padding-top: 2rem;
    color: #fff;
}
.col-leftbar h4 {
    
}

.col-nav {
    padding-top: 10rem;
}

.nav-grey li>a {
	color: #fff;
	border-left: 2px solid #99a3b5;
	border-radius: 0;
}

.nav-grey li:hover>a, .nav-grey li.active>a, .nav-grey li.active:hover>a {
	background-color: #7e8694;
	border-left: 2px solid #c77105;
}
